name: Release and Docker Push

on:
  push:
    branches:
      - main # Run when merging to main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: maven
          token: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: release
    if: ${{ needs.release.outputs.release_created }} # Only run if a new tag was created
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Extract version
      id: version
      run: |
        # Use the tag created by the release job
        CLEAN_VER=${{ needs.release.outputs.tag_name }}
        echo "version=${CLEAN_VER#v}" >> "$GITHUB_OUTPUT"

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # Build and run tests with Maven
    - name: Build and Test with Maven
      run: mvn -B package --file pom.xml

    # Publish test results
    - name: Archive Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: target/surefire-reports/

    # Display test results in GitHub interface
    - name: Publish Test Report
      if: always()
      uses: dorny/test-reporter@v1
      with:
        name: Unit Test Results
        path: target/surefire-reports/*.xml
        reporter: java-junit

    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: |
          tarterware/roadrunner:latest
          tarterware/roadrunner:${{ steps.version.outputs.version }}
